---
// src/pages/blog/index.astro
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

const posts = await getCollection('blog');
---

<Layout title="Blog">
  <h1>Blog</h1>
  <p>Read our latest posts.</p>
  <ul>
    {posts.map(post => (
      <li>
        <BlogPostPreview post={post} />
      </li>
    ))}
  </ul>
</Layout>